@{
    ViewData["Title"] = "HomeGano";
}
<nav>
<p><a href = '@Url.Action("Index", "Home")'> Home </a> </p>
</nav>
<h1> GANASTE </h1>
<img src="/img/AJAMIFELIZ.png" alt="AJAMIFELIZ" />
<h1> AJAMI ESTA FELIZ :) </h1>
<footer>2025 - Ahorcado - Federico Ajami, Lucas Dorin y Tobías Nul - FeLuTo</footer>