@{
    ViewData["Title"] = "HomePerdio";
}
<nav>
<p><a href = '@Url.Action("Index", "Home")'> Home </a> </p>
</nav>
<h1> PERDISTE </h1>
<img src="/img/AJAMITRISTE.png" alt="AJAMIFELIZ" />
<h1> AJAMI ESTA TRISTE :( </h1>
<footer>2025 - Ahorcado - Federico Ajami, Lucas Dorin y Tobías Nul - FeLuTo</footer>